<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="hamburger-menu.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="hamburger-menu open">
        <input type="checkbox" name="menu" id="menu">
        <label for="menu" onclick="document.querySelector('.hamburger-menu').classList.toggle('open')">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 30H25V26.6667H5V30ZM5 10V13.3333H35V10H5ZM5 21.6667H35V18.3333H5V21.6667Z" />
            </svg>
        </label>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Catalogue</a></li>
            <li><a href="">Contact</a></li>
        </ul>

    </div>
</body>

</html>