.hamburger-menu {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat (6, 1fr);
    font-family: "Playfair Display", serif;
}

label {
    height: fit-content;
    grid-column: 1/6;
    grid-row: 1/6;
    z-index: 100;
}

svg {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;

    fill: var(--clr-accent-400);
    transition: transform 400ms cubic-bezier(1, -0.03, 0.28, 0.99),
        fill 400ms ease;
    cursor: pointer;
}

input {
    display: none;
}

input:not(:checked) ~ ul {
    transform: translateX(150%);
}

input:checked ~ label > svg {
    fill: var(--clr-neutral-100);
    transform: rotate(180deg);
}

input:checked ~ ul {
    transform: translate(0);
}

ul {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    grid-column: 1/6;
    grid-row: 1/6;
    transition: transform 400ms cubic-bezier(1, -0.03, 0.28, 0.99);
    background-image: linear-gradient(
        to left,
        var(--clr-accent-400),
        transparent
    );
}

ul li {
    margin-block: 1rem;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-100);
}

a.active {
    color: var(--clr-primary-400);
}
