<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="product-preview.css">
    <!-- <script src="product-preview.js" defer></script> -->
</head>

<body>
    <div class="product-container">
        <img src="https://picsum.photos/id/695/540/540" alt="Classic Lashes">
        <p class="price-from">from<br><span>€ 49.99</span></p>
        <h3 class="product-title">Classic Lashes</h3>
        <span class="arrow"></span>
    </div>
</body>

</html>