:root {
    --clr-neutral-100: hsl(32, 49%, 80%);
    --clr-neutral-300: hsl(348, 19%, 70%);
    --clr-primary-400: hsl(348, 69%, 50%);
    --clr-accent-400: hsl(259, 50%, 46%);
    --clr-accent-400-alpha: hsla(259, 50%, 46%, 0.95);
    --clr-neutral-900: hsl(347, 18%, 10%);

    --ff-serif: "Playfair Display", serif;
    --ff-sans-serif: "Mukta", sans-serif;
    --ff-script: "Parisienne", cursive;

    --speed: 250ms;
    --curve: cubic-bezier(1, 0, 0, 1);

    --width: clamp(320px, 100%, 140em);
}

*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--clr-neutral-300);
    background-color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
    font-family: var(--ff-serif);
}

/* Layout */

.grid-container {
    width: var(--width);
    margin: 0 auto;
    padding-inline: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
    grid-column: 1/9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    grid-column: 1/1;
}

.right-side-menu {
    display: flex;
    align-self: center;
}

main {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: subgrid;
}

.main-heading {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}

.big-arrow {
    grid-column: 8 / 8;
    grid-row: 2 / 4;
}

footer {
    grid-column: 1/9;
}

/* Detail */

/* Logo styles */

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lashhh {
    font-family: var(--ff-sans-serif);
    text-transform: uppercase;
    color: var(--clr-accent-400);
    font-size: 3.5rem;
    margin-block-end: -2.25rem;
}
.by {
    color: var(--clr-neutral-100);
    font-family: var(--ff-serif);
    font-size: 2rem;
    margin-block-end: -2.25rem;
}
.belle {
    font-family: var(--ff-script);
    color: var(--clr-primary-400);
    font-size: 5.25rem;
}

/* sign up button */

.sign-up {
    display: inline-block;
    border: none;

    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--ff-sans-serif);
    font-size: 2.5em;

    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    cursor: pointer;

    padding: 0 1rem;
    margin-inline-end: 1rem;
}

.hamburger-menu {
    display: flex;
    align-items: center;
}

.hamburger-menu label {
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
    z-index: 999;
}

.hamburger-menu label > svg {
    fill: var(--clr-accent-400);
    width: 5rem;
    height: 5rem;
    transition: transform var(--speed) var(--curve);
}

.hamburger-menu input {
    display: none;
}

.hamburger-menu > input ~ .ul-nav-links {
    opacity: 0;
    pointer-events: none;
}

.hamburger-menu > input:checked ~ label > svg {
    fill: var(--clr-neutral-300);
    transform: rotate(180deg);
}

.hamburger-menu > input:checked ~ .ul-nav-links {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

.ul-nav-links {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    list-style-type: none;
    transition: transform var(--speed) var(--curve),
        opacity var(--speed) var(--curve);
}

.ul-nav-links::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(10);
    transition: transform var(--speed) var(--curve);

    background-color: var(--clr-accent-400-alpha);
    z-index: -1;
}

.ul-nav-links li {
    text-align: center;
}

.ul-nav-links a {
    text-decoration: none;
    font-size: 5rem;
    color: var(--clr-neutral-300);
    font-family: var(--ff-serif);
}

/* Hero section styles */

.main-heading {
    font-size: 8rem;
    line-height: 1.1;
}

.primary {
    color: var(--clr-primary-400);
}

.accent {
    color: var(--clr-accent-400);
}

.big-arrow {
    fill: var(--clr-accent-400);
    width: 2rem;
    z-index: -1;
}
