:root {
    --clr-neutral-100: hsl(32, 49%, 80%);
    --clr-neutral-300: hsl(348, 19%, 70%);
    --clr-primary-400: hsl(348, 69%, 50%);
    --clr-accent-400: hsl(259, 50%, 46%);
    --clr-neutral-900: hsl(347, 18%, 10%);
}

*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-900);
}
