:root {
    --clr-neutral-100: hsla(37, 100%, 98%, 1);
    --clr-neutral-100-alpha: hsla(var(--clr-neutral-100), 0.5);
    --clr-neutral-300: hsla(37, 34%, 90%, 1);
    --clr-primary-400: hsla(9, 61%, 53%, 1);
    --clr-accent-400: hsla(15, 98%, 79%, 1);
    --clr-neutral-900: hsla(360, 16%, 11%, 1);
}
