{% extends "admin-layout.html" %}

{% block body %}

<main class="admin-dashboard">
    <section class="admin-section-header">
        <div>
            <h1>Admin</h1>
            <p>logged in as User.</p>
        </div>
        <p>All your upcoming appointments will appear listed below.</p>
    </section>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <article class="admin-section-appointment">
        <div>
            <h3>Jenny</h3>
            <div>
                <span>17 October</span><span>11:30</span><span>1 hour</span>
            </div>
            <p>#4307</p>
        </div>
        <p>Full eyelash treatment with classic extensions.</p>
        <div>
            <span>e 49.99</span>
            <button>Cancel</button>
        </div>
    </article>

    <a href="#" target="_top">Back to top &uarr;</a>
</main>
<footer>
    <a href="{{ url_for('admin_packages') }}" class="view-packages-btn">
        View all packages
    </a>
</footer>

{% endblock %}